.weather-map {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.ymaps-2-1-79-balloon {
  box-shadow: none !important;
}

.ymaps-2-1-79-balloon__content {
  padding: 0 !important;
  margin: 0 !important;
}

.ymaps-2-1-79-balloon__content ymaps {
  width: 500px !important;
  height: 370px !important;
  z-index: 5;
}

#balloon-id > div {
  overflow-x: scroll;
  width: 100%;
}
