.weather-map {
  background-image: url('../../assets/img/map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.ymaps-2-1-79-balloon {
  box-shadow: none !important;
  width: 350px !important;
  height: 178px !important;
}

.ymaps-2-1-79-balloon__content {
  padding: 0 !important;
  /* background: transparent !important; */
  margin: 0 !important;
  width: 350px !important;
  height: 178px !important;
}

.ymaps-2-1-79-balloon__layout {
  background: transparent !important;
  border: none !important;
}

.ymaps-2-1-79-balloon__content ymaps {
  width: 350px !important;
  height: 178px !important;
  z-index: 5;
}
